---
import { getCollection, getEntry } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/BaseLayout.astro";
import EarthOverview from "@components/earth/EarthOverview.vue";
import BlogListEntry from "@components/TravelEntry.astro";
import { type Journey, JourneyTypeId } from "@utils/types";
import { coordAll, lineString, simplify } from "@turf/turf";
import authors from "src/authors.json";
import { type CountryData } from "country-codes-list";
import { getVisitedCountries } from "../utils/geoJson";

const posts: CollectionEntry<"posts">[] = (await getCollection("posts")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

const journeys: Journey[] = [];
const countries = new Set<CountryData>();

for (let p of posts) {
  const entry = await getEntry(p.data.gpx);
  const geoJson = entry.data;
  const points = simplify(lineString(coordAll(geoJson)), { tolerance: 0.2 })
    .geometry.coordinates;

  function fromPoint(p: number[]): [number, number] {
    return [p[1], p[0]];
  }

  if (p.data.type === JourneyTypeId.roadtrip) {
    journeys.push({
      points: [fromPoint(points[0])],
    });
  } else {
    journeys.push({
      points: points.map(fromPoint),
    });
  }

  getVisitedCountries(geoJson).forEach((c) => countries.add(c));
}

const mainAuthor = authors[0].name;
---

<Layout title={`Reiseblog von ${mainAuthor}`}>
  <EarthOverview client:only="vue" journeys={journeys} slot="background" />

  <div class="flex min-h-full flex-col place-content-center items-center">
    <h1
      class="mx-5 mt-5 mb-4 text-center font-serif text-5xl font-extrabold text-primary font-stretch-condensed sm:text-6xl"
    >
      Discover my Adventures!
    </h1>
    <h2 class="mb-5 inline-flex gap-2 text-xl">
      {Array.from(countries).map((c) => <span>{c.flag}</span>)}
    </h2>

    <ul id="blogs" class="flex w-max flex-col gap-3">
      {posts.map((p) => <BlogListEntry journey={p} />)}
    </ul>
  </div>
</Layout>
