---

interface Props {
    href: string,
}

const {href} = Astro.props;

---

<a href={import.meta.env.BASE_URL} class="
        flex items-center gap-1 px-2 py-1 my-5 h-min
        border-2 rounded-lg border-fg dark:border-fg-dark
        bg-bg dark:bg-bg-dark
        hover:bg-fg hover:text-bg hover:dark:bg-fg-dark hover:dark:text-bg-dark
        ">
    <div class="h-full">
        <slot name="icon" />
    </div>

    <slot/>
</a>
