---
interface Props {
  href: string | URL;
}

const { href } = Astro.props;
---

<a
  href={href}
  class="my-5 flex h-min w-max items-center gap-1 rounded-lg border-2 border-fg px-2 py-1 first:mt-0 last:mb-0 hover:border-primary focus:border-primary focus:outline-none active:border-primary active:bg-primary active:text-bg dark:border-fg-dark dark:bg-bg-dark hover:dark:bg-fg-dark hover:dark:text-bg-dark"
>
  <slot name="icon" />

  <slot />
</a>
