---
interface Props {
  href: string | URL;
}

const { href } = Astro.props;
---

<a
  href={href}
  class="flex h-min w-max items-center gap-1 border-2 border-line px-2 py-1 font-serif font-bold hover:border-primary hover:underline focus:border-primary focus:outline-none active:border-primary active:bg-primary active:text-bg dark:border-line-dark dark:bg-bg-dark"
>
  <slot name="icon" />

  <slot />
</a>
