---
import {type MarkdownHeading} from "astro";

interface Props {
    headings: Array<MarkdownHeading>
}

const {headings} = Astro.props;

---

<nav class="w-xs hidden md:block">
    <ol class="font-bold text-lg list-decimal ml-8">
        {
            headings.map((heading) =>
                    <li class="not-last:mb-2 hover:text-primary navelement">
                        <a href={"#" + heading.slug}>{heading.text}</a>
                    </li>)
        }
    </ol>
</nav>

<script>
    const elements = document.querySelectorAll(".navelement a");

    function refreshElements() {
        const hash = decodeURI(new URL(document.URL).hash);
        
        if (hash === "") {
            for (let e of elements) {
                e.classList.remove("text-primary");
            }
            
            return;
        }
        
        for (const e of elements) {
            if (e.getAttribute("href")?.includes(hash)) {
                e.parentElement?.classList.add("text-primary");
            } else {
                e.parentElement?.classList.remove("text-primary");
            }
        }
    }
    
    refreshElements();
    window.addEventListener("hashchange", refreshElements);
</script>
