---
import { type MarkdownHeading } from "astro";

interface Props {
  headings: Array<MarkdownHeading>;
  depth?: number;
}

const { headings } = Astro.props;
let { depth } = Astro.props;
depth ??= 1;

function subheaders(heading: MarkdownHeading) {
  const index = headings.indexOf(heading);

  if (index < 0) {
    throw new Error("Could not find heading " + heading.text);
  }

  const followings = headings.slice(index + 1);
  let nextIndex = followings.findIndex((h) => h.depth === 1);

  if (nextIndex < 0) {
    nextIndex = headings.length - 1;
  }

  followings.length = nextIndex;
  return followings;
}
---

{
  headings.length > 0 && (
    <ol
      class={
        depth === 1
          ? "ml-8 list-decimal text-lg font-bold"
          : "text-base font-normal"
      }
    >
      {headings
        .filter((h) => h.depth === depth)
        .map((heading) => (
          <li class={depth === 1 ? "not-last:mb-2" : "not-last:mb-1"}>
            <a
              href={"#" + heading.slug}
              class="hover:text-primary focus:bg-primary focus:text-bg focus:outline-none"
            >
              {heading.text}
            </a>

            {depth === 1 && (
              <Astro.self headings={subheaders(heading)} depth={2} />
            )}
          </li>
        ))}
    </ol>
  )
}

<script>
  const elements = document.querySelectorAll("nav a");

  // style current heading in nav

  function refreshElements(url: string) {
    const hash = decodeURI(new URL(url).hash);

    if (hash === "") {
      for (let e of elements) {
        e.classList.remove("text-primary");
      }

      return;
    }

    for (const e of elements) {
      if (e.getAttribute("href") === hash) {
        e.classList.add("text-primary");
      } else {
        e.classList.remove("text-primary");
      }
    }
  }

  refreshElements(document.URL);
  window.addEventListener("hashchange", (e) => refreshElements(e.newURL));

  // put current element in url

  const headers = document.querySelectorAll("article h1, article h2");

  function updateHash() {
    let visible: Element | null = null;
    for (const header of headers) {
      const pos = header.getBoundingClientRect();

      if (pos.top > 0 && pos.bottom <= window.innerHeight / 2) {
        visible = header;
        break;
      }
    }

    if (visible != null) {
      // just style the nav bar, no change in url here
      // avoids unwanted scrolling done by browser

      // we construct a url to put a hash in there
      const url = new URL(document.URL);
      url.hash = visible.id;
      refreshElements(url.href);
    }
  }

  document.querySelector("main")!.addEventListener("scrollend", updateHash);
</script>
