---
import { Icon } from "astro-icon/components";
import {type JourneyType} from "@utils/types";

interface Props {
    type: JourneyType;
}

const { type } = Astro.props;
---

<span class="inline-flex gap-1 items-center">
    <Icon name={type.icon} />
    {type.name.de}
</span>
