---
import { Icon } from "astro-icon/components";
import { JourneyTypeId, journeyTypes } from "@utils/types";

interface Props {
  typeId: JourneyTypeId;
}

const { typeId } = Astro.props;
const type = journeyTypes[typeId];
---

<span class="inline-flex items-center gap-1">
  <Icon name={type.icon} />
  {type.name}
</span>
