---
import { dateFormatter } from "../utils/general";
import JourneyType from "@components/TypeIcon.astro";

const { frontmatter } = Astro.props;

const date = dateFormatter(frontmatter.date ?? new Date());
---

<section>
    <h1 class="font-bold text-5xl mb-4">{frontmatter.title}</h1>
    <div class="text-center text-3xl mb-8 flex align-baseline gap-2 justify-center">
        {(<JourneyType type={frontmatter.type} />)}
        <span>·</span>
        {date}
    </div>
</section>

<div class="w-full px-10">
    <slot name="details" />
</div>

<article class="max-w-3xl">
    <slot />
</article>

<slot name="references" />

<style is:global>
    article {
        color: #7B2D11; /* orange 900 */
    }
    
    @media (prefers-color-scheme: dark) {
        article {
            color: #FED6AA; /* orange-200 */
        }
    }
    
    article h1 {
        font-size: 1.5rem;
        margin-top: 1em;
        font-weight: 700;
    }
    
    article p {
        margin: .5em 0;
    }

    article blockquote {
        border-left: solid 5pt;
        padding: .25em 0;
        padding-left: 2em;
        font-family: cursive, serif;
        border-color: #7B2D11; /* orange 900 */
        background-color: rgba(123, 45, 17, 0.25); /* orange-50 */;
    }
    
    article img {
        object-fit: contain;
        max-width: min-content;
        max-height: min-content;
        width: 100%;
        height: fit-content;

        display: block;
        margin: 1rem auto;

        box-shadow: rgba(0, 0, 0, 0.33) 0 0.25rem 0.5rem;
        border-radius: 0.5rem;
    }
</style>