---
import { Color } from "three";


interface Props {
  title: string;
  background?: string;
  backgroundDark?: string;
}

let {title} = Astro.props;

---

<!doctype html>
<html lang="en" class="
text-orange-900 bg-orange-100 dark:text-orange-200 dark:bg-stone-950
selection:bg-red-600 selection:text-orange-50
 -z-50
">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Personal website of Lorenz Hoffmann"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico"/>
    <meta name="generator" content={Astro.generator}/>
    <meta name="theme-color" content="#FFEDD4" media="(prefers-color-scheme: light)"/>
    <meta name="theme-color" content="#0B0908" media="(prefers-color-scheme: dark)"/>
    <title>{title}</title>
</head>


<body class="flex flex-col justify-between min-h-screen font-sans">

<div class="absolute top-0 left-0 w-full h-full -z-40">
    <slot name="background"/>
</div>

<main class="flex flex-col items-center mt-10">
    <slot/>
</main>

<footer class="flex justify-center m-2">
    <a href='https://docs.github.com/en/site-policy/privacy-policies/github-general-privacy-statement'>Privacy Notice</a>
</footer>

</body>
</html>
